a:hover {
    background-color: yellow;
}
body {
  background-color: grey;
}
.choice {
  background-color: silver;
      color: black;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
  }
.right {
  padding-top: 50px;
}
p {
    font-family: Verdana, Helvetica, sans-serif;
    color: #0d0d0d
}
h1 {
  font-family: Georgia, Times, serif;
  color: #0d0d0d
}
